h1 {
  font-size: 3rem;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  min-height: 100vh;
  /* and, because webkit browsers are cranky w/ 100vh... */
  min-height: -webkit-fill-available;
}

#countDisplay {
  font-size: 10rem;
}

.incbutton {
  font-size: 2rem;
  margin: 0 5px;
}

/* resets */

body,
html {
  margin: 0;
  padding: 0;
}

h1 {
  padding: 0 25px;
  margin: 0;
}

button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: #0069ed;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: #0053ba;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}
